<li><a href="{{ path('course_course', {id : course.id}) }}">{{ course.name }}</a></li>
{% if not course.children.isEmpty() %}
    <ul>
        {% for course in course.children %}
            {% include 'course/_course.html.twig' %}
        {% endfor %}
    </ul>
{% endif %}
