{% extends 'base.html.twig' %}

{% block title %}Course{% endblock %}

{% block body %}
    <ul>
    {% for course in courses %}
        <li>{{ course.name }}</li>
    {% endfor %}
    </ul>
{% endblock %}
