{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>Bienvenue sur Feedback : le site où vous notez les profs</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A deleniti dolor dolores, ducimus earum est facere,
        itaque obcaecati officiis omnis pariatur quae ratione rem suscipit tenetur totam vel veniam vero? Autem
        doloribus enim inventore, minima porro repudiandae rerum! Laudantium, vero.</p>
    <p>A accusamus animi aut commodi
        consequuntur cum dolor ducimus eos ex explicabo fuga hic id, ipsa, ipsum libero molestias nostrum perferendis
        praesentium quasi quisquam reiciendis sequi, soluta totam unde vel vitae voluptas? Animi assumenda et nobis
        repellendus voluptatem. Quibusdam, rerum.</p>

{% endblock %}
