{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="header"><h2>Derniers avis</h2></div>
                <div class="body">
                    <div class="list-group">
                        {% for feedback in lastFeedbacks %}
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">{{ feedback.course.name }}</h5>
                                </div>
                                <p class="mb-1">{{ feedback.date|date('d/m/Y h:m') }}</p>
                                <small>{{ feedback.comment }}</small>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="header"><h2>Les mieux notés</h2></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="header"><h2>Tous les Cours</h2></div>
            </div>
        </div>
    </div>

{% endblock %}
