{% extends 'base.html.twig' %}

{% block body %}
    <h2>Liste des Administrateurs</h2>
    <div class="list-group">
        {% for admin in admins %}
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ admin.username }} ({{ admin.firstName }} {{ admin.lastName }})</h5>
                <small class="text-body-secondary">
                    <button onclick="location.href = '{{ path('admin_demote', {'id' : admin.id}) }}'" class="btn btn-danger">Révoquer</button>
                </small>
            </div>
        </a>
        {% endfor %}
    </div>
{% endblock %}

